@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html { scroll-behavior: smooth; }
  ul { list-style: none; }
  a { text-decoration: none; color: inherit; }
  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }
  body { 
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  :root {
    --main-bgcolor: #4b0983;
    --main-color: #4b0983;
  }
  .flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::selection{ background-color:var(--main-bgcolor); color: #fff;}
  ::-webkit-scrollbar{width:4px}
  ::-webkit-scrollbar-track{background-color: var(--main-bgcolor);}
  ::-webkit-scrollbar-thumb{background-color: #e8ca83; border-radius:20px;}

  #main{
    width: 100%;
    background-color: #f3f0f8;
    position: relative;
  }
  
  .header { width: 100%; }
  .top-bar { background-color: var(--main-bgcolor); }
  .icon { margin-right: 3px; color:#fff; }
  .top-bar__content {
    height: 7vh;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 15px;
    font-size: 13px;
    color:#fff;
  }
  
  .bottom-bar {background-color: var(--main-bgcolor);}
  .bottom-bar__content {
    height: 8vh;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .logo__img { height: 68px; margin-bottom: 18px; }
  .nav__list{ display: flex; column-gap: 25px; color: #fff; }
  .links{
    position: relative;
    &:hover{ color:#f1cd76; }
  }
  .links::after{
    position: absolute;
    content: "";
    bottom:-5%;
    left:0%;
    height:1.2px;
    width: 0%;
    background-color: #d0a651;
    transition: .5s all ease-in-out;
  }
  .links:hover::after{ width: 100%; }

  .links::before{
    position: absolute;
    content: "";
    bottom:-20%;
    right:0%;
    height:1.2px;
    width: 0%;
    background-color: #d0a651;
    transition: .5s all ease-in-out;
  }
  .links:hover::before{ width: 100%; }
   
  .bottom-bar__content i{ 
    cursor: pointer; 
    display: none;
    color: #f1f1f1;
    padding: 9px 10px;
    font-size: 1.8vw;
    border-radius: 50%;
    cursor: pointer;
   }

  #full{
    height: 100vh;
    width: 50%;
    position: absolute;
    background-color: #ffffff0e;
    z-index: 9999;
    top:0%;
    right: -100%;
    backdrop-filter: blur(10px);
    padding: 120px 60px;
  }
  #full h4{
    font-size:1.8vw;
    font-weight: 300;
    margin-bottom: 28px;
    color: #fff;
  }
  #full i{
    position: absolute;
    right: 8%;
    top:5%;
    background-color:#f3f0f8;
    padding: 6px 8px;
    font-size: 1.6vw;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
 
  #main_home_page{
    position: relative;
    width: 100%;
    height: calc(100vh - 15vh);
    background-color: var(--main-bgcolor);
  }
  .main_dairy{
    position: absolute;
    bottom:16%;
    left: 27%;
    transform: translate(-0%,-50%);
    height: 20vw;
    z-index: 999;
    cursor: pointer;
  }
  #home-head{
    padding: 15px;
    line-height: 1;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    opacity: .7;
    letter-spacing: 5px;
    color: #c4c4c4;
  }
  #home-head h1{ font-size: 6vw;  }
  .bottol_dairy{
    position: absolute;
    top:50%;
    left:0%;
    height: 21vw;
    z-index: 999;
  }
  .bottol_dairy2{
    position: absolute;
    top:20%;
    right: -4%;
    height:16vw;
    overflow: hidden;
  }
  #piece_dairy{
    height: 18vw;
    transform: rotate(-22deg);
    position: absolute;
    right: 2%;
    bottom: 3%;
  }
.frame {
  background-image: linear-gradient(90deg, #f1cd76 2%, #ffecb2 42%, #d0a651 71%, #ffecb2);
  text-align: center;
  position: absolute;
  bottom:6%;
  left:50%;
  transform: translate(-50%,0%);
  border-radius: 25px;
  box-shadow:inset 2px 2px 2px 0px rgba(0,0,0,.1), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.custom-btn {
  width: 240px;
  height: 45px;
  font-size: 18px;
  color:#330d55;
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 2px;
  cursor: pointer;
}
 
#moving{ animation: mover 3s infinite  alternate; }
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-18px); }
}

#main_about{
  width: 100%;
  height: 100vh;
  background-color: #f3f0f8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wavydiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.shape-fill { fill: #4B0983;}

#main_about #abt_img1{
  position: absolute;
  top:50%;
  left:5%;
  transform: translate(-0%,-50%);
  object-fit: cover;
  height: 60vh;
}
#main_about #abt_img2{
  position: absolute;
  top:10%;
  left:50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  height: 12vh;
}
 
#about_div{ width: 80%;}
#about_div a{ font-weight: 500; text-decoration:underline; }
#about_div h1:nth-child(1){color: var(--main-color); font-family: "Cormorant Garamond", serif; }
#about_div h1:nth-child(2){
  padding-left: 40px;
  font-family: "Cormorant Garamond", serif;
  font-size: 3vw;
}
#about_div p{ font-size: 16px; font-weight: 500; }
#one-down{
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
  color:#330d55;
 }
 #one-down h4{
	align-items: flex-start;
	padding: 8px 2px;
	font-weight: 600;
  font-size: 15px;
 }
#one-down h4 span{opacity: .7;}
#one-downin{ width: 100%; }
#one-downin img{ width: 100%; padding-bottom: 30px; }

#part_one{
	width: 100%;
	height: 100vh;
	background-color: blueviolet;
	position: relative;
}

#part_one video{ width: 100%; height: 100%; object-fit: cover; }
#parto_para{
	width: 97%;
	position: absolute;
  left:0%;
  top:50%;
	transform: translate(-0%,-50%);
	margin-left: 20px; 
}
.parto_parain{
	width: 50%;
	color: #fff;
	padding: 50px 100px;
	padding-top: 0;
}
.parto_parain h1{
	font-size: 5.5vw;
	line-height: 1;
	color: #f1cd76;
	letter-spacing: 1px;
	white-space: nowrap;
}
.parto_parain p{
	width: 100%;
	margin-top:20px;
	margin-bottom: 30px;                          
  font-size: 15px;
	letter-spacing: .5px;
	opacity: .9;
}

.parto_parain button{
	width: 230px;
	height: 45px;
	border-radius: 50px;
  font-size: 18px;
  color:#330d55;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
	background-image: linear-gradient(90deg, #f1cd76 2%, #ffecb2 42%, #d0a651 71%, #ffecb2);
}

#part_two{
	width: 100%;
	height: 90vh;
  background-color: #fff;
	position: relative;
	text-align: center;
  }

#part_two_head{
	width: 100%;
	height: 27vh;
	background-color:transparent;
  color: var(--main-color);
	gap:5px;
}

  #part_two_head h1{
	font-size: 4.2vw;
	text-transform: uppercase;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
  }
   
  #part_two_head p{
	width:30%;
	color: black;
	font-size: 1.2vw;
	font-weight: 400;
  }

  #part_two_head p span{
  color: var(--main-color);
	font-style: italic;
	font-size: 1.3vw;
	font-weight: 600;
  }
  
  #part_two_head img{
	position: absolute;
	left: 20%;
	top:8%;
	height: 8vw;
  }
   
  #part_two_div{ width: 100%; height: 63vh; }
  
  #marquee { padding: 50px 0px; width: 100%; }
  #marquee .container { overflow: hidden; width: 100%; }
  #marquee .pic-container {
	display: flex;
	gap: 20px;
	animation: marquee 50s infinite linear;
  }
   
  #marquee .pic-container .pic { flex-basis: 20%; flex-shrink: 0; }
  #marquee img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius:10px;
  }
  
  #part_three{
	width: 100%;
	height: 100vh;
	background-color:#7438a3;
	color: #fff;
	position: relative;
}
 
.lone{
	width: 80px;
	height: 30px;
  background-image: linear-gradient(90deg, #f1cd76 2%, #ffecb2 42%, #d0a651 71%, #ffecb2);
  color: #000;
	z-index: 999;
	position: absolute;
	top:10%;
	left:0%;
	transform: translate(-0%,-50%);
	display: flex;
	align-items: center;
	justify-content:space-evenly; 
  cursor: pointer; 
}
.lone:hover i{ transform: rotate(45deg); }
#part3top{ width: 100%; height: 20vh; }
#part3top h1{ font-size:4.2vw; line-height: 1; text-transform: uppercase; }
#part3top img{ height: 50px; }
#part3mid{ width: 100%; height: 60vh; }
#part3mid video{ width: 100%; height:100%; }
#part3btm{ width: 100%; height: 20vh; gap: 20px; }
#part3btm p{
	width: 70%;
	color: #fff;
	opacity: .8;
	font-weight: 300;
}
#bmove{ object-fit: cover; animation: mover 2s infinite  alternate; }
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}

#part_six{
	width: 100%;
	min-height: 80vh;
  background-color: #f3f0f8;
  color: var(--main-color);
	text-align: center;
  }
  
  #part_six h1{
	height: 20vh;
	font-size: 3.5vw;
	font-weight: 700;
	font-family: "Cormorant Garamond", serif;
	line-height: 20vh;
  }
   
  .part_sdiv{
	width: 95%;
	gap:30px;
	display: flex;
	justify-content:center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	padding: 16px;
  }
  .box{
	position: relative;
	height: 300px;
	width: 280px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	overflow: hidden;
  }
   
  .box img{ width: 100%; height: 100%; object-fit: cover; }
	.box h2{
	  white-space: nowrap;
	  text-transform: capitalize;
	  color: #fff;
	  font-weight: 400;
	  font-size: 1.2vw;
	  background-color: #0000003d;
	  backdrop-filter: blur(10);
	  padding: .80vw 3vw;
	  position: absolute;
	  top:80%;
	  left:50%;
	  transform: translate(-50%,-50%) translateZ(50px);
	}
  .box1{  
	background-image: url(https://5.imimg.com/data5/SELLER/Default/2023/1/DS/NW/TH/10942680/cadbury-dairy-milk-silk-bubbly-chocolate-500x500.jpg);
	object-fit: cover;
	background-size: cover;
	border-radius: 0px 0px 0px 30px;
  }
   
  .box2{  
	background-image: url(https://silk-22.onmlab.in/images/share-poster.jpg);
	background-size: cover;
	object-fit: cover;
  }
  .box3{  
	background-image: url(https://www.marketingmind.in/wp-content/uploads/2022/02/Campaign-Product-KV-700x700.jpg);
	background-size: cover;
	object-fit: cover;
  }
  .box4{  
	background-image: url(https://5.imimg.com/data5/SELLER/Default/2023/7/327398468/ZI/VK/EQ/48534106/cadbury-dairy-milk-silk-chocolate-bar-pack-of-3-x-150g-500x500.jpeg);
	background-size: cover;
	object-fit: cover;
	border-radius: 0px 30px 0px 0px;
  }

  #fslider{
    width: 100%;
    background-color: #fff;
  }
   
  #fslider_div{
    display: flex;
    padding: 1vw 0;
    overflow: hidden;
  }
  .mqslider{
    flex-shrink: 0;
    display: flex;
    gap: .5vw;
    align-items: center;
    padding: 0 1.5vw;
    transform: translateX(-100%);
  }
  .mqslider h1{
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    font-size: 2vw;
    color: #4b0983;
  }
  .mqslider img{
    height: 3.5vw;
  }

#part_footer{
	width: 100%;
	height: 88vh;
  background-color: #fff;
	position: relative;
	overflow: hidden;
  }
  
  .footer_div{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: var(--main-bgcolor);
    color: var(--main-color);
  }
  .footer_div img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0%;
  }
  .footer_last{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    color: var(--main-color);
  }

  .footer_inner{ width: 92%; height: 40vh; }
  .footer_in{
    width: 100%;
    height: 25vh;
    border-bottom-style: double;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .footer_in img{ height:14vh; }
  .footer_in i{ font-size: 2.5vw; margin: 8px;  }
  .footer_out{
    position: relative;
    width: 100%;
    height: 15vh;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer_out a{ font-size: 1.1vw; font-weight: 500; }
  .footer_out ul{
      display: flex;
      gap:20px;
      cursor: pointer;
  }
  .footer_out i{
    background-color: var(--main-bgcolor); 
    color: #fff; padding: 8px 10px; 
    border-radius: 50%; 
    transition: 1s;
    &:hover{
     transform: rotate(180deg);
     }
    }
   

  /* MEDIA QUERIES */

  @media (max-width:976px) {
    .nav__list{display: none;}
    .bottom-bar__content i{display: block;}
    #home-head{padding: 25px;}
    #home-head h1{font-size: 7vw;}
    .main_dairy{height: 25vw; left: 21.5%; bottom: 20%;}
    #piece_dairy{ height: 18vw; }
    #part_two_head img{left:10%; height: 12vw;}
    #part_two_head h1{ font-size: 5.4vw;}
    #part_two_head p{ font-size:1.6vw; width: 40%;}
    .parto_parain{width: 70%; padding: 0;}
    .parto_parain h1{font-size: 7vw;}
	  .parto_parain p{width: 75%; padding-top: 10px;}
	  #part3top h1{font-size: 6vw;}
    #part_six h1{font-size: 4.5vw;}
    .box{ width: 350px; }
    .footer_in{height: 30vh;}
    .footer_out{height: 20vh;}
    .footer_out a{font-size: 1.3vw;}
    .footer_in i{ font-size: 3.5vw;}
    .footer_out ul{font-size: 1.8vw;}
  }

  @media (max-width:767px) {
    .bottom-bar__content i{font-size: 2.5vw;}
    #home-head{padding: 50px;}
    #home-head h1{font-size: 9vw;}
    .main_dairy{ height: 30vw; left:15%; }
    .bottol_dairy{ top:67%; height: 26vw; left:-2% }
    .part_stwo{ flex-direction: column;}
    #part_two_head h1{ font-size:6.5vw;}
    #part_two_head p{ font-size:2.2vw; width: 50%;}
    .parto_parain h1{font-size: 7.5vw;}
	  .parto_parain p{width: 80%; padding-top: 10px;}
    #part_six h1{font-size: 6vw;}
    .footer_in img { height: 12vh;}
    .footer_in i{ font-size: 4vw;}
    .footer_out a{font-size: 1.7vw;}
    .footer_out ul{font-size: 4vw;}
    .mqslider h1{ font-size: 3vw;}
    .mqslider img{  height: 5vw;}
  }

  @media (max-width: 476px) {
    .logo__img{margin-bottom: 0;}
    .logo__img{ height: 55px; }
    .bottom-bar__content{padding: 0px 20px;}
    .bottom-bar__content i{font-size: 5vw;}
    #full{width: 100%;}
    #full i{font-size: 3vw;}
    #full h4{font-size: 5vw;}
    #home-head{padding: 50px;}
    #home-head h1{font-size: 11vw; white-space: nowrap;}
    .main_dairy{ height: 35vw; left:8%; bottom: 30%; }
    #piece_dairy{ bottom:8%; right: 4%; height:32vw;}
    .bottol_dairy{ height: 30vw; top: 65%;}
    #part_two{height: 70vh;}
    #part_two_div{height: 53vh;}
    #part_two_head h1{ font-size: 8vw;}
    #part_two_head p{ font-size:3.5vw; width: 85%;}
    #part_two_head img{height: 25vw; left:-4%; transform: rotate(20deg);}
    #part_two_head p span{font-size: 3vw;}
    #part3top h1{font-size: 8vw;}
    .lone{top:23%;}
    #part3btm p{width: 80%; font-size: 12px;}
    #part_six h1{font-size: 9vw;}
    .box{ width: 400px; }
    .part_fimg2{height: 13vh; bottom: 15%;}
    .part_fimg{height: 22vh; top: 3%; left:35%; }
    .box1{ border-radius: 0;}
    .box4{ border-radius: 0;}
    .footer_in{flex-direction: column; justify-content: center; gap: 15px;}
    .footer_in i{ font-size: 6vw;}
    .footer_out a{font-size: 3vw;}
    .footer_out ul{display: none;}
    .mqslider h1{ font-size: 4vw;}
    .mqslider img{  height: 7vw;}
  }

  @media (max-width: 976px) {
    #marquee .pic-container .pic { flex-basis: 25%; }
    }
    
    @media (max-width: 767px) {
    #marquee .pic-container .pic { flex-basis: 33.33%; }
    }
    
    @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%);}
    }
    
    @media (max-width: 976px) {
    @keyframes marquee {
      0% { transform: translateX(0);}
      100% { transform: translateX(-125%); }
    }
    }
    
    @media (max-width: 767px) {
    @keyframes marquee {
      0% { transform: translateX(0); }
      100% { transform: translateX(-186.65%); }
    }
    }